$menu-selected-color: #77469b;

%base-display {
  display: flex;
  flex-direction: row;
}

%column-display {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 10rem;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.sidebar-icon {
  @extend %base-display;
  justify-content: flex-start;
}
.sidebar-menu {
  @extend %column-display;
  justify-content: flex-start;
}
.menu-item {
  font-size: 10px;
  word-wrap: break-word;
  cursor: pointer;
}

.menu-item-selected {
  font-size: 10px;
  word-wrap: break-word;
  font-weight: bolder;
  color: $menu-selected-color;
  cursor: pointer;
}

.menu {
  @extend %base-display;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.menu:active {
  border-left-color: $menu-selected-color;
  border-left-width: 2rem;
}
.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d2ddee;
  border-radius: 4px;
  cursor: pointer;
}
.menu-icon-selected {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $menu-selected-color;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  li {
    list-style-type: none;
  }
  padding: 0 0 0 1rem;
  @extend %column-display;
  justify-content: flex-start;
  gap: 1rem;
}

.menu-icon:hover {
  background-color: $menu-selected-color;
}
.menu-item:hover {
  font-weight: bolder;
  color: $menu-selected-color;
}
.bi-badge-ad {
  color: #ffffff;
  font-size: 0.9rem;
}
