.sidebar {
  width: 10rem;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.sidebar-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-item {
  font-size: 10px;
  word-wrap: break-word;
  cursor: pointer;
}

.menu-item-selected {
  font-size: 10px;
  word-wrap: break-word;
  font-weight: bolder;
  color: #77469b;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.menu:active {
  border-left-color: #77469b;
  border-left-width: 2rem;
}
.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d2ddee;
  border-radius: 4px;
  cursor: pointer;
}
.menu-icon-selected {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #77469b;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  li {
    list-style-type: none;
  }
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.menu-icon:hover {
  background-color: #77469b;
}
.menu-item:hover {
  font-weight: bolder;
  color: #77469b;
}
.bi-badge-ad {
  color: white;
  font-size: 0.9rem;
}
